In [1]:
# import libraries
import pandas as pd

# load data
# This code is made to load our data stored on Google Drive
def gd_path(file_id):
    """Generate a shareable link from Google Drive file id."""
    return f"https://drive.google.com/uc?export=download&id={file_id}"

# Google Drive file ids
files_id = {
    "titleauthor": "1F1JOiYXStWacOBca6coNVfyVtoST7ZgD",
    "titles": "1PLdn50N9GRa53ZbuVWo0l47F_IXdvlEm",
    "stores": "1f-GCgip7O93CpbAkYvOsc21eKnSOSHsQ", 
    "sales": "1fzFc9rwYmVIPaGOFmhLVxCi3kg19vNU2", 
    "roysched": "1zPRZPoFPEMKyrNR5VSENeYFHGCBZmxbs", 
    "publishers": "1s9E8_AVOziTrowb3wyh2jg3PV763VOyq",
    "pub_info": "1OEgogcGKy--EpuVj0kqq7lyBZNGW6YSv", 
    "jobs": "1V1Za8hUdXD-vJOyRdX4aQV5wanIff2eM", 
    "employee": "1h9mUjsVqpP74b1w0x7KOw37n_n9Ulkt5", 
    "discounts": "111dvSxMcCsTgOuV1wDSKFJxO1Xcxd9VS", 
    "authors": "1fEF89Nhe61EebAljKlwFwfEuokK0o6aJ"
}

# Read data from Google Drive
sales = pd.read_csv(gd_path(files_id["sales"]), sep=";")
titles = pd.read_csv(gd_path(files_id["titles"]), sep=";")
employee = pd.read_csv(gd_path(files_id["employee"]), sep=";")
stores = pd.read_csv(gd_path(files_id["stores"]), sep=";")
publishers = pd.read_csv(gd_path(files_id["publishers"]), sep=";")
# Replace the logos pandas can't read with '?'
pub_info = pd.read_csv(gd_path(files_id["pub_info"]), sep=";", encoding_errors = 'replace')
discounts = pd.read_csv(gd_path(files_id["discounts"]), sep=";")
jobs = pd.read_csv(gd_path(files_id["jobs"]), sep=";")

# From SQL to pandas challenge 9

##  1. Select the table sales, assigning the alias "s" to it. 
   Select the column ord_num using the syntax `table_alias[column]`

In [2]:
s=sales
s['ord_num']

0         6871
1         722a
2        A2976
3     QA7442.3
4        D4482
5        P2121
6        P2121
7        P2121
8      N914008
9      N914014
10      P3087a
11      P3087a
12      P3087a
13      P3087a
14      QQ2299
15       TQ456
16        X999
17    423LL922
18    423LL930
19        P723
20     QA879.1
Name: ord_num, dtype: object

### Hint:

In SQL the syntax is:

```sql
SELECT s.ord_num
FROM sales AS s;
```

## 2. Select the title and publisher name of all books

In [3]:
newdf1 = titles.merge(publishers, how ='left', on = 'pub_id')
newdf1.loc[:,['title','pub_name']]

                                                title              pub_name
0                 The Busy Executive's Database Guide  Algodata Infosystems
1   Cooking with Computers: Surreptitious Balance ...  Algodata Infosystems
2                     You Can Combat Computer Stress!        New Moon Books
3                       Straight Talk About Computers  Algodata Infosystems
4                   Silicon Valley Gastronomic Treats      Binnet & Hardley
5                               The Gourmet Microwave      Binnet & Hardley
6                  The Psychology of Computer Cooking      Binnet & Hardley
7                            But Is It User Friendly?  Algodata Infosystems
8                           Secrets of Silicon Valley  Algodata Infosystems
9                                       Net Etiquette  Algodata Infosystems
10  Computer Phobic AND Non-Phobic Individuals: Be...      Binnet & Hardley
11                                Is Anger the Enemy?        New Moon Books
12                                  Life Without Fear        New Moon Books
13      Prolonged Data Deprivation: Four Case Studies        New Moon Books
14                Emotional Security: A New Algorithm        New Moon Books
15  Onions, Leeks, and Garlic: Cooking Secrets of ...      Binnet & Hardley
16          Fifty Years in Buckingham Palace Kitchens      Binnet & Hardley
17                                     Sushi, Anyone?      Binnet & Hardley

### Hint:

In SQL the syntax is:

```sql
SELECT t.title, p.pub_name
FROM titles t
LEFT JOIN publishers p ON t.pub_id = p.pub_id;
```

## 3. Select the order number, quantity and book title for all sales.

In [4]:
sales.merge(titles,on="title_id",how="right")[["ord_num", "qty", "title"]]

     ord_num   qty                                              title
0       6871   5.0                The Busy Executive's Database Guide
1   423LL930  10.0                The Busy Executive's Database Guide
2       P723  25.0  Cooking with Computers: Surreptitious Balance ...
3       X999  35.0                    You Can Combat Computer Stress!
4     QQ2299  15.0                      Straight Talk About Computers
5      TQ456  10.0                  Silicon Valley Gastronomic Treats
6    N914014  25.0                              The Gourmet Microwave
7   423LL922  15.0                              The Gourmet Microwave
8        NaN   NaN                 The Psychology of Computer Cooking
9    QA879.1  30.0                           But Is It User Friendly?
10     A2976  50.0                          Secrets of Silicon Valley
11       NaN   NaN                                      Net Etiquette
12    P3087a  20.0  Computer Phobic AND Non-Phobic Individuals: Be...
13      722a   3.0                                Is Anger the Enemy?
14  QA7442.3  75.0                                Is Anger the Enemy?
15     D4482  10.0                                Is Anger the Enemy?
16   N914008  20.0                                Is Anger the Enemy?
17    P3087a  25.0                                  Life Without Fear
18    P3087a  15.0      Prolonged Data Deprivation: Four Case Studies
19    P3087a  25.0                Emotional Security: A New Algorithm
20     P2121  40.0  Onions, Leeks, and Garlic: Cooking Secrets of ...
21     P2121  20.0          Fifty Years in Buckingham Palace Kitchens
22     P2121  20.0                                     Sushi, Anyone?

### Hint:

In SQL the syntax is:

```sql
SELECT ord_num, qty, titles.title
FROM sales
RIGHT JOIN titles
ON sales.title_id=titles.title_id;
```

## 4. Select the full name of all employees and the name of the publisher they work for

In [5]:
empl_pub = employee.merge(publishers,
                how="left",
                on= "pub_id"
                )
empl_pub[["fname","lname","pub_name"]]

        fname      lname               pub_name
0        Aria       Cruz   Algodata Infosystems
1     Annette     Roulet     Lucerne Publishing
2         Ann      Devon         Scootney Books
3     Anabela  Domingues       Binnet & Hardley
4      Carlos   Hernadez     Lucerne Publishing
5      Carine    Schmitt   Algodata Infosystems
6      Daniel     Tonini       Binnet & Hardley
7       Diego       Roel   Algodata Infosystems
8   Elizabeth    Lincoln       Binnet & Hardley
9   Francisco      Chang         Scootney Books
10       Gary     Thomas         New Moon Books
11      Helen    Bennett       Binnet & Hardley
12  Helvetius       Nagy     Lucerne Publishing
13     Howard     Snyder         New Moon Books
14     Janine    Labrune                  GGG&G
15      Karin    Josephs         New Moon Books
16      Karla  Jablonski     Lucerne Publishing
17     Lesley      Brown       Binnet & Hardley
18   Laurence    Lebihan         New Moon Books
19      Maria    Larsson   Algodata Infosystems
20     Manuel    Pereira     Lucerne Publishing
21    Martine      Rance       Binnet & Hardley
22     Miguel    Paolino   Algodata Infosystems
23   Margaret      Smith   Algodata Infosystems
24     Martin     Sommer         New Moon Books
25      Matti  Karttunen         New Moon Books
26      Maria     Pontes      Ramona Publishers
27       Mary    Saveley         New Moon Books
28   Patricia    McKenna     Lucerne Publishing
29      Palle      Ibsen         New Moon Books
30      Peter    Franken       Binnet & Hardley
31      Paolo    Accorti       Binnet & Hardley
32     Pirkko  Koskitalo     Lucerne Publishing
33      Pedro     Afonso   Algodata Infosystems
34      Paula    Parente   Algodata Infosystems
35     Philip     Cramer         Scootney Books
36       Paul    Henriot       Binnet & Hardley
37     Roland     Mendel         New Moon Books
38       Rita     Muller  Five Lakes Publishing
39       Sven    Ottlieb   Algodata Infosystems
40    Timothy   O'Rourke         New Moon Books
41   Victoria   Ashworth       Binnet & Hardley
42      Yoshi    Latimer   Algodata Infosystems

### Hint:

In SQL the syntax is:

```sql
Select E.fname,E.lname,P.pub_name
from employee E
left join publishers P
on E.pub_id=P.pub_id;
```

## 5. Select the full name and job description of all employees.

In [8]:
employee.merge(jobs, on='job_id')[['fname','lname','job_desc']]

        fname      lname                     job_desc
0        Aria       Cruz          Productions Manager
1      Martin     Sommer          Productions Manager
2       Peter    Franken          Productions Manager
3      Pirkko  Koskitalo          Productions Manager
4     Annette     Roulet              Managing Editor
5       Diego       Roel              Managing Editor
6       Matti  Karttunen              Managing Editor
7    Victoria   Ashworth              Managing Editor
8         Ann      Devon  Business Operations Manager
9     Anabela  Domingues     Public Relations Manager
10     Manuel    Pereira     Public Relations Manager
11       Mary    Saveley     Public Relations Manager
12      Paula    Parente     Public Relations Manager
13     Carlos   Hernadez                    Publisher
14     Janine    Labrune                    Publisher
15   Laurence    Lebihan                    Publisher
16      Maria     Pontes                    Publisher
17       Paul    Henriot                    Publisher
18       Rita     Muller                    Publisher
19       Sven    Ottlieb                    Publisher
20     Carine    Schmitt         Sales Representative
21      Paolo    Accorti         Sales Representative
22    Timothy   O'Rourke         Sales Representative
23     Daniel     Tonini           Operations Manager
24     Miguel    Paolino           Operations Manager
25   Patricia    McKenna           Operations Manager
26     Roland     Mendel           Operations Manager
27  Elizabeth    Lincoln                     Designer
28      Karin    Josephs                     Designer
29      Pedro     Afonso                     Designer
30  Francisco      Chang     Chief Financial Officier
31       Gary     Thomas         Acquisitions Manager
32      Karla  Jablonski         Acquisitions Manager
33    Martine      Rance         Acquisitions Manager
34   Margaret      Smith         Acquisitions Manager
35      Helen    Bennett                       Editor
36     Howard     Snyder                       Editor
37      Yoshi    Latimer                       Editor
38  Helvetius       Nagy            Marketing Manager
39     Lesley      Brown            Marketing Manager
40      Maria    Larsson            Marketing Manager
41      Palle      Ibsen            Marketing Manager
42     Philip     Cramer      Chief Executive Officer

### Hint:

In SQL the syntax is:

```sql
SELECT fname, lname, job_desc
FROM employee
LEFT JOIN jobs
ON employee.job_id = jobs.job_id;
```

## 6. Select the full name, job description and publisher name of all employees
   Hint: you will have to perform 2 joins in a single query to merge 3 tables together.

In [9]:
employee.merge(publishers, on="pub_id", how="left").merge(jobs, on="job_id", how="left")[["fname","lname","job_desc","pub_name"]]

        fname      lname                     job_desc               pub_name
0        Aria       Cruz          Productions Manager   Algodata Infosystems
1     Annette     Roulet              Managing Editor     Lucerne Publishing
2         Ann      Devon  Business Operations Manager         Scootney Books
3     Anabela  Domingues     Public Relations Manager       Binnet & Hardley
4      Carlos   Hernadez                    Publisher     Lucerne Publishing
5      Carine    Schmitt         Sales Representative   Algodata Infosystems
6      Daniel     Tonini           Operations Manager       Binnet & Hardley
7       Diego       Roel              Managing Editor   Algodata Infosystems
8   Elizabeth    Lincoln                     Designer       Binnet & Hardley
9   Francisco      Chang     Chief Financial Officier         Scootney Books
10       Gary     Thomas         Acquisitions Manager         New Moon Books
11      Helen    Bennett                       Editor       Binnet & Hardley
12  Helvetius       Nagy            Marketing Manager     Lucerne Publishing
13     Howard     Snyder                       Editor         New Moon Books
14     Janine    Labrune                    Publisher                  GGG&G
15      Karin    Josephs                     Designer         New Moon Books
16      Karla  Jablonski         Acquisitions Manager     Lucerne Publishing
17     Lesley      Brown            Marketing Manager       Binnet & Hardley
18   Laurence    Lebihan                    Publisher         New Moon Books
19      Maria    Larsson            Marketing Manager   Algodata Infosystems
20     Manuel    Pereira     Public Relations Manager     Lucerne Publishing
21    Martine      Rance         Acquisitions Manager       Binnet & Hardley
22     Miguel    Paolino           Operations Manager   Algodata Infosystems
23   Margaret      Smith         Acquisitions Manager   Algodata Infosystems
24     Martin     Sommer          Productions Manager         New Moon Books
25      Matti  Karttunen              Managing Editor         New Moon Books
26      Maria     Pontes                    Publisher      Ramona Publishers
27       Mary    Saveley     Public Relations Manager         New Moon Books
28   Patricia    McKenna           Operations Manager     Lucerne Publishing
29      Palle      Ibsen            Marketing Manager         New Moon Books
30      Peter    Franken          Productions Manager       Binnet & Hardley
31      Paolo    Accorti         Sales Representative       Binnet & Hardley
32     Pirkko  Koskitalo          Productions Manager     Lucerne Publishing
33      Pedro     Afonso                     Designer   Algodata Infosystems
34      Paula    Parente     Public Relations Manager   Algodata Infosystems
35     Philip     Cramer      Chief Executive Officer         Scootney Books
36       Paul    Henriot                    Publisher       Binnet & Hardley
37     Roland     Mendel           Operations Manager         New Moon Books
38       Rita     Muller                    Publisher  Five Lakes Publishing
39       Sven    Ottlieb                    Publisher   Algodata Infosystems
40    Timothy   O'Rourke         Sales Representative         New Moon Books
41   Victoria   Ashworth              Managing Editor       Binnet & Hardley
42      Yoshi    Latimer                       Editor   Algodata Infosystems

### Hint:

In SQL the syntax is:

```sql
SELECT fname, lname, job_desc, pub_name
FROM employee
LEFT JOIN publishers
ON employee.pub_id = publishers.pub_id
LEFT JOIN jobs
ON employee.job_id = jobs.job_id;
```

## 7. Select the full name, job description and publisher name of employees that work for Binnet & Hardley.
   Hint: you can add a `.loc[]` clause after the joins

In [10]:
employee.merge(jobs,on='job_id',how='outer').merge(publishers,on='pub_id',how='outer')[['fname','lname','job_desc','pub_name']].query('pub_name=="Binnet & Hardley"')

        fname      lname                  job_desc          pub_name
20      Peter    Franken       Productions Manager  Binnet & Hardley
21   Victoria   Ashworth           Managing Editor  Binnet & Hardley
22    Anabela  Domingues  Public Relations Manager  Binnet & Hardley
23       Paul    Henriot                 Publisher  Binnet & Hardley
24      Paolo    Accorti      Sales Representative  Binnet & Hardley
25     Daniel     Tonini        Operations Manager  Binnet & Hardley
26  Elizabeth    Lincoln                  Designer  Binnet & Hardley
27    Martine      Rance      Acquisitions Manager  Binnet & Hardley
28      Helen    Bennett                    Editor  Binnet & Hardley
29     Lesley      Brown         Marketing Manager  Binnet & Hardley

### Hint:

In SQL the syntax is:

```sql
SELECT fname, lname, job_desc, pub_name
FROM employee
LEFT JOIN publishers
ON employee.pub_id=publishers.pub_id
LEFT JOIN jobs
ON employee.job_id=jobs.job_id
WHERE pub_name='Binnet & Hardley';
```

## 8. Select the name and PR Info (from the pub_info table) from all publishers based in Berkeley, California.

In [11]:
pub_info_1 = pd.merge(publishers,pub_info, on='pub_id', how='left')
pub_info_1.loc[(pub_info_1['city']=='Berkeley') & (pub_info_1['state']=='CA')][['pub_name','pr_info']]

               pub_name                                            pr_info
2  Algodata Infosystems  This is sample text data for Algodata Infosyst...

### Hint:

In SQL the syntax is:

```sql
select pub_name, pub_info.pr_info
from publishers
left join pub_info
on pub_info.pub_id = publishers.pub_id
where city in ("Berkeley") and state='CA';

```

## 9. Selet all columns from the discounts table.
   Observe the columns it has and now some of them are filled with NULL values.

In [13]:
discounts

        discounttype  stor_id  lowqty  highqty  discount
0   Initial Customer      NaN       0        0      10.5
1    Volume Discount      NaN     100     1000       6.7
2  Customer Discount   8042.0       0        0       5.0

### Hint:

In SQL the syntax is:

```sql
SELECT * FROM discounts;
```

## 10. Select all store names, their store id and the discounts they offer.

	   - When selecting the store id, select it two times: from the stores table
         and from the discounts table.
         
       - ALL stores should be displayed, even if they don't offer any discount 
         (i.e. have a NULL value on the discount column).

In [14]:
new_df10 = stores.merge( discounts, how = 'left', on = 'stor_id')
new_df10.loc[:,['stor_name','stor_id','discount']]

                              stor_name  stor_id  discount
0                   Eric the Read Books     6380       NaN
1                              Barnum's     7066       NaN
2                          News & Brews     7067       NaN
3  Doc-U-Mat: Quality Laundry and Books     7131       NaN
4                    Fricative Bookshop     7896       NaN
5                              Bookbeat     8042       5.0

In [16]:
d=discounts.rename(columns={'stor_id':'disstor'})
S=stores.rename(columns={'stor_id':'storid'})
d.merge(S, left_on='disstor', right_on='storid', how='outer')

,discounttype,disstor,lowqty,highqty,discount,storid,stor_name,stor_address,city,state,zip
0,Initial Customer,NaN,0.0,0.0,10.5,NaN,NaN,NaN,NaN,NaN,NaN
1,Volume Discount,NaN,100.0,1000.0,6.7,NaN,NaN,NaN,NaN,NaN,NaN
2,Customer Discount,8042.0,0.0,0.0,5.0,8042.0,Bookbeat,679 Carson St.,Portland,OR,89076.0
3,NaN,NaN,NaN,NaN,NaN,6380.0,Eric the Read Books,788 Catamaugus Ave.,Seattle,WA,98056.0
4,NaN,NaN,NaN,NaN,NaN,7066.0,Barnum's,567 Pasadena Ave.,Tustin,CA,92789.0
5,NaN,NaN,NaN,NaN,NaN,7067.0,News & Brews,577 First St.,Los Gatos,CA,96745.0
6,NaN,NaN,NaN,NaN,NaN,7131.0,Doc-U-Mat: Quality Laundry and Books,24-A Avogadro Way,Remulade,WA,98014.0
7,NaN,NaN,NaN,NaN,NaN,7896.0,Fricative Bookshop,89 Madison St.,Fremont,CA,90019.0

In [17]:
discounts.loc[:,'disstor'] = discounts.loc[:,'stor_id']
merge_d_s = pd.merge(discounts,stores, on='stor_id', how ='right')
merge_d_s[['disstor','discount','stor_id','stor_name']]

   disstor  discount  stor_id                             stor_name
0      NaN       NaN   6380.0                   Eric the Read Books
1      NaN       NaN   7066.0                              Barnum's
2      NaN       NaN   7067.0                          News & Brews
3      NaN       NaN   7131.0  Doc-U-Mat: Quality Laundry and Books
4      NaN       NaN   7896.0                    Fricative Bookshop
5   8042.0       5.0   8042.0                              Bookbeat

### Hint:

In SQL the syntax is:

```sql
SELECT d.stor_id AS disstor, d.discount, s.stor_id AS storid, s.stor_name 
FROM iscounts AS d
RIGHT JOIN stores AS s
ON d.stor_id=s.stor_id;

```

## 11. Select all store names and the discounts they offer.

       - This time, we don't want do display stores that don't offer any 
         discount.

    Hint: change the join type!

In [21]:
new_df10 = stores.merge( discounts, how = 'inner', on = 'stor_id')
new_df10.loc[:,['stor_name','stor_id','discount']]

  stor_name  stor_id  discount
0  Bookbeat     8042       5.0

### Hint:

In SQL the syntax is:

```sql
select St.stor_name,St.stor_id ,D.discount
from  stores St 
inner join discounts  D on St.stor_id=D.stor_id ;
```